/* footer.module.css */
.footer {
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 20px;
  background-color: #000000;
  color: #ffffff;
}

.iconContainer {
  display: flex; 
  align-items: center; 
  margin-right: 5px; 
}

.githubIcon {
  font-size: 30px; 
  color: #ffffff; 
  margin-right: 1px; 
}

