.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid #ea0000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.leftSection {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo {
  width: 40px;
  height: auto;
}

.storeName {
  margin-left: 10px;
  font-size: 28px;
  font-weight: bold;
}

.hamburgerButton {
  background: none;
  border: none;
  cursor: pointer;
  flex-grow: 1;
}

.hamburgerIcon {
  font-size: 30px;
  color: #000;
}

@media (max-width: 768px) {
  .hamburgerIcon {
    font-size: 24px; 
  }
}

/* Estilo para telas grandes */
.header nav ul {
  display: flex; 
}

.hamburgerButton {
  display: none; 
}

@media (max-width: 768px) {
  .header nav ul {
    display: none; 
  }

  .hamburgerButton {
    display: block; 
  }

  nav ul.open {
    display: flex; 
    flex-direction: column;
    position: absolute;
    top: 50px; 
    right: 40px;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}